.textcomment {
  border-radius: 5rem;
  border-width: 1px;
  margin: 0px 0px 5px 0px;
  padding: 4px 4px 4px 4px;
}
.submit {
  background-color: white;
  border: none;
}
.imgsubmit {
  max-width: 20px;
  max-height: 20px;
}
