* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: sticky;
  bottom: 0;
}
.list {
  display: flex;
  list-style-type: none;
  background-color: #1421dcc6;
  justify-content: space-around;
  margin: 0;
  padding: 0.4rem;
  border-top: solid 0.5px;
  border-color: rgba(128, 128, 128, 0.788);
}
.listbutton {
  display: flex;
}
.button {
  border-radius: 9px;
  border: none;
  box-shadow: none;
  background-color: #1421dc00;
  padding: 0;
}
.imagenavbar {
  max-width: 1.3rem;
}
.imagenavbarmenu {
  max-width: 1.7rem;
}
