* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: sticky;
  bottom: 0;
}
.list {
  display: flex;
  list-style-type: none;
  background-color: #ebf2fb;
  justify-content: space-around;
  margin: 0;
  padding: 1rem;
}
.listbutton {
  display: flex;
}
.button {
  border-radius: 9px;
  border: none;
  box-shadow: none;
  background-color: #ebf2fb;
}
.imagenavbar {
  max-width: 2rem;
}
