.content {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 0.5rem 1rem 0rem 0.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #f0f0f2;
}
.content::-webkit-scrollbar {
  display: none;
  scrollbar-width: none; /* Firefox */
}
.article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  border-radius: 0.5rem;
}
.profil {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 2px;
  border-color: #d8d8e1e1;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.imageprofil {
  max-width: 3rem;
  max-height: 3rem;
  border-radius: 9rem;
}
.imagecontent {
  padding: 2rem 2rem 0rem 2rem;
}
button {
  width: 24px;
  height: 24px;
  margin: 0;
  background-size: 100%;
  padding: 0;
}
.isFavorite {
  background-color: white;
  border: none;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/35/Emoji_u2665.svg");
  width: 16px;
  height: 16px;
  background-size: 100%;
  align-self: flex-start;
}
.notFavorite {
  background-color: white;
  border: none;
  max-height: 16px;
  max-width: 16px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4f/Ei-heart.svg");
  background-size: 100%;
  align-self: flex-start;
}
.enedislogo {
  width: 5rem;
  margin: 0.7rem;
}
.header {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  position: sticky;
  top: 0;
  background-color: white;
}
.buttonedited {
  max-width: 24px;
}
.cityandcompany {
  display: flex;
  gap: 0.5rem;
  color: #787886e1;
}
.userprofil {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.userparameter {
  display: flex;
  gap: 1rem;
}
.nameuser {
  display: flex;
  flex-direction: column;
}
.dateofpublish {
  color: #787886e1;
}
.comment {
  width: 12px;
  height: 12px;
  margin: 2px 0px 0px 0px;
}
.buttonlikeandcomment {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 0px 8px 0px 8px;
  flex-direction: row;
}
.buttonlikeandcomments {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 0px 8px 8px 8px;
  flex-direction: row;
}
.likes {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  align-items: center;
}
.comments {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  align-items: center;
}
.styleofcomment {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  font-size: 9px;
  margin: 2px;
}
.styleoflike {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
  font-size: 9px;
}
.contentofpublication {
  display: flex;
  flex-direction: column;
  margin: 0px 10px 0px 10px;
  gap: 1rem;
}
.titlecontent {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: blue;
  font-size: 15px;
  font-weight: bold;
}
.descriptioncontent {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgba(0, 0, 0, 0.819);
  font-size: 12.5px;
  font-weight: normal;
}
.numberoflike {
  font-weight: normal;
  font-size: 10px;
  margin: 0px 0px 0px 0px;
}
.countoflike {
  background-color: white;
  border: none;
  max-height: 13px;
  max-width: 13px;
  background-size: 100%;
  align-self: flex-start;
}
.likeandcount {
  display: flex;
  gap: 0.5rem;
}
