.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 2rem 1.5rem 0rem 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.content::-webkit-scrollbar {
  display: none;
  scrollbar-width: none; /* Firefox */
}
.article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 1rem 1rem 1rem;
  border-bottom: solid 1px grey;
}
.profil {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.imageprofil {
  max-width: 3rem;
  max-height: 3rem;
  border-radius: 10rem;
}
.isFavorite {
  background-color: white;
  border: none;
  width: 40px;
  height: 60px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/35/Emoji_u2665.svg");
  background-size: 100%;
  align-self: flex-start;
}
.notFavorite {
  background-color: white;
  border: none;
  width: 40px;
  height: 60px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4f/Ei-heart.svg");
  background-size: 100%;
  align-self: flex-start;
}
.enedislogo {
  max-width: 8rem;
  margin: 1rem;
}
