.user-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
  gap: 5px;
  border-bottom: 1px solid black;
}
.user-data h3:nth-child(even) {
  background-color: lightgray;
}

.user-data button {
  background-color: #af4c4c;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
