.main-container {
  margin: 30px;
  display: flex;
}

.main-container .col-1,
.main-container .col-3 {
  flex: 0 0 350px;
}
.main-container .col-2 {
  flex: 1 1 auto;
}

@media (max-width: 900px) {
  .main-container .col-3 {
    display: none;
  }
  .main-container .col-1 {
    flex: 1 1 auto;
  }
}
