.article {
  margin: 0 50px;
  margin-bottom: 10px;
}
.article .header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 10px 15px;
}
.article .header div {
  display: flex;
}

.article .header .date {
  color: gray;
  font-size: 17px;
  margin-left: 10px;
}

.article .header div .header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.article .header div .header-text p {
  color: gray;
}

.article .header .avatar {
  width: 50px;
  border-radius: 50px;
  border: 1px solid gray;
}

.article .content {
  padding: 15px;
  border-bottom: 1px solid lightgray;
}
.article .content .content-cover {
  display: flex;
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin: auto;
}

.article .content .interaction {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  font-size: 15px;
}
.article .content .interaction div {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 0 10px;
  cursor: pointer;
}

.article .content .interaction div button {
  border: none;
  display: flex;
  gap: 5px;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
}

.article .content .interaction div img {
  height: 20px;
}

.article .content p {
  padding: 10px 0;
}

.article .actions input {
  width: 100%;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 50px;
}
.article .actions {
  padding: 15px;
}

.article .actions {
  display: flex;
  width: 100%;
  text-decoration: none;
}

.article .actions button {
  border: none;
  background-color: transparent;
  border-radius: 50px;
  margin: 0 5px;
}
.article .actions button:active {
  border-radius: 50px;
  background-color: rgb(75, 172, 230);
  color: #fff;
}

.article .actions button img {
  width: 30px;
  padding: 5px;
  margin: 0 10px;
}

.article .comment-section {
  max-height: 130px;
  overflow: scroll;
}

.article .social {
  border: 1px solid black;
  border-radius: 5px;
}
