.profile {
  margin: 30px 50px;
  padding: 10px;
  box-sizing: border-box;
  max-width: 600px;
  margin: 30px auto;
}
.profile div {
  margin: 20px;
}
.profile h2,
.profile div h1 {
  text-align: center;
}
.profile .profile-section {
  display: flex;
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
  max-width: 100%;
  margin: 0;
}
.profile .profile-section div {
  font-size: 1.2rem;
  margin: 5px 20px;
}
.profile .profile-section img {
  height: 100px;
  border-radius: 20%;
}

.profile .change {
  display: flex;
  margin: 5px;
}
.profile .btn-modify,
.profile .btn-confirm {
  width: 100px;
  background-color: #a0d24b;
  border: #a0d24b;
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
}
.profile .btn-modify {
  margin-left: auto;
}
.profile .btn-confirm {
  margin: auto;
}
.profile form {
  padding: 0 100px;
}
.profile form section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: space-between;
}

.modify-section {
  width: 600px;
  margin: auto;
  padding: 10px;
}

.modify-section h3 {
  text-align: center;
  margin: 20px 0;
}

.modify-section form section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
  justify-content: space-between;
  padding: 0 10px;
  grid-gap: 0px;
}
.modify-section form section div {
  display: flex;
  flex-direction: column;
}
.modify-section form section label {
  margin: 0;
}
.modify-section form input {
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.modify-section form button {
  display: flex;
  margin: 20px auto;
  width: 100px;
  background-color: #a0d24b;
  border: #a0d24b;
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
}
