* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.log-page {
  display: flex;
  flex-direction: column;
}
.log-page > button {
  margin: auto;
  font: inherit;
  cursor: pointer;
  background: #a0d24b;
  color: white;
  border: 1px solid #a0d24b;
  border-radius: 6px;
  padding: 0.5rem 2rem;
}
body {
  background-color: rgba(211, 211, 211, 0.458);
}
